:root{
    --background:#FFFDF7;
    --nav-step-active-color:#3167FF;
    --black:#000000;
    --plan-description-head-color:#333333;
    --red-orange-price:#D75D33;
    --red:red;
    --accordian-bottom-border:#ddd;
    --white:white;
    --date-item-border:#707070;
    --nav-background:#FFFFFF;
    --deliver-border:#9D9D9D;
    --order-summary-bodrer:#EDEDED;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format("truetype");
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf')format("truetype");
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format("truetype");
}

/* ----------------------------------------Font families ---------------------------------------------------------*/

.steps-container, .description-text,.shipping-text,  .date-item .popular-text, .accordion-body,
#delivery-day-value,.meals-summary, .shipping-summary p, .tax-summary, .promo-code-link, .sms-update-checbox
{
    font-family: 'Roboto-Regular';
}
.checkout-form-head, .delivery-address-head,
.name-feild-label, .fname-input, .lname-input, .full-name-delivery-address-label, .first-address-label, .second-address-label, 
.city-label, .state-label, .zip-label, .phone-label, .email-label, .checkout-buttton, .total-summary, .order-summary-head, 
.meals-summary-head, .delivery-date-head-order, .meal-count,  .plan-total-price, .bigger-box-price, .bigger-box-text
{
    font-family: 'Roboto-Bold';
}
.sale-tag , .plan-week, .plan-price , .accordion-button,  .description-head, .plan-total-price-text, 
.delivery-day-head, .common-question-head ,.get-started-btn
{
    font-family: 'Roboto-Medium';
}

/* ----------------------------------------Font size ---------------------------------------------------------*/

.header-list, .sale-tag , .plan-week, .date-item , #delivery-day-value,.meals-summary, .shipping-summary p, .tax-summary ,
.total-summary, .sms-update-checbox, .delivery-date-head-order, .name-feild-label, .fname-input, .lname-input,
.full-name-delivery-address-label, .first-address-label, .second-address-label, .city-label, .state-label, 
.zip-label, .phone-label, .email-label, .shipping-text
{
    font-size:14px;
}

.plan-total-price-text, .plan-price,.get-started-btn, .checkout-buttton
{
    font-size:16px;
}

/* -------------------------------------------body-container------------------------------------------- */

.body-container{
    background-color: var(--background);
}

/* --------------------------------------------Jquery steps css------------------------------------------ */

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.steps-container{
    background-color: var(--nav-background);
    padding: 0;
    max-width: 100%;
    width: 100%;
    min-height: 60px;
    height: 100%;
}
.header-list.active {
    font-weight: bold;
    color: var(--nav-step-active-color);
}
#wizard .steps-container {
    display: flex;
    justify-content: center;
}
#wizard section {
    display: none;
}
#wizard section.active {
    display: block;
}
.header-list{
    list-style-type: none;
    font-weight: 500;
}
/* .header-list:not(.active):hover {
    text-decoration: underline;
}
#wizard .steps-container .header-list {
    cursor: pointer;
} */
.enabled-active-pointer{
    cursor: pointer;
}
.enabled-underline{
    text-decoration: underline;
}

/* ----------------------------------------------------------seperator---------------------------------------------- */

.nav-seperator
{
    max-width: 100%;
    width: 100%;
    margin: auto;
}

/*----------------------------------------------------------section Body----------------------------------------------------- */
.sections-container{
    /* background:var(--background) 0% 0% no-repeat padding-box; */
    height: auto;
}

/*--------------------------------------------------------  Plan Section -------------------------------------------------------- */

/* Logo section */
.logo-description-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
}
.logo{
    max-width: 84px;
    width: 100%;
    max-height: 87px;
    height: 100%;
}
.description-head{
    font-size: 36px;
    color: var(--plan-description-head-color);
    text-align: center;
    letter-spacing: 0px;
    max-width: 600px;
    width: 100%;
    max-height: 48px;
    height: 100%;
}
.description-text{
    max-width: 723px;
    width: 100%;
    /* max-height: 43px;
    height: 100%; */
    text-align: center;
    letter-spacing: 0px;
}
.bigger-box-price{
    color: var(--red-orange-price);
}

/* ------------------Plan Cards ---------------------*/
.plan-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.plan-meals-card{
    max-height: 307px;
    height: 100%;
    max-width: 278px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.plan-card-img-block {
    width: 100%;
    height: 100%;
    overflow: hidden; 
    border-radius: 15px; 
    position: relative;
}
.sale-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #FFFFFF; 
    color:#333333;
    border-radius: 15px; 
    z-index: 10;
}
.plan-meal-image {
    max-height: 209px;
    max-width: 278px;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out; 
    object-fit: cover; 
}
.plan-card-img-block:hover .plan-meal-image {
    transform: scale(1.1); 
}
.plan-meals-card:nth-last-child(-n+3) .plan-card-img-block:hover .plan-meal-image {
    animation: blink-once 0.04s steps(1, start); 
}
@keyframes blink-once {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
.meal-description{
    line-height:0.5;
}
.meal-count{
    font-size: 24px;
}
.plan-total-price{
    color: var(--red-orange-price);
}

/* ---------------------Getting started section--------------------- */
.get-started{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-height: 160px;
    height: 100%;
}
.shipping-text{
    max-width: 235px;
    width: 100%;
    max-height: 19px;
    height: 100%;
    text-align: center;
    letter-spacing: 0px;
    color: var(--black);
}
.get-started-btn {
    max-width: 150px;
    width: 100%;
    min-height: 45px;
    height: 100%;
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat;
    border-radius: 4px;
    border: none;
    color: var(--white);
    transition: max-width 0.3s;
}
.get-started-btn:hover {
    max-width: 400px;
    width: 100%;
}

/*--------------------------------------------------------  Day Section -------------------------------------------------------- */

/*----------- Delivery dates slider--------------- */

.delivery-day-head{
    font-size: 48px;
    color: var(--plan-description-head-color);
}
.date-container {
    max-height: 300px; 
    max-width: 400px;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
    border: none;
    margin: auto;
}
.date-item {
    padding: 10px;
    border-top: 1px solid var(--date-item-border); 
    border-bottom: 1px solid var(--date-item-border);
    border-left: 1px solid var(--date-item-border);
    max-height: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-background);
}
.date-item {
    transition: transform 0.4s ease; 
}
.date-item:not(.selected):hover {
    transform: translateX(4px);
}
.date-item.selected {
    border-left: 6px solid var(--red-orange-price); 
}
.date-item .popular-text {
    display: none; 
    color: var(--red-orange-price); 
    font-size: 12px;
    text-align: right;
}
.date-item.selected .popular-text {
    display: none; 
}
.date-text-item{
    padding: 15px;
}
.date-item:first-child .popular-text {
    display: inline;
}
.date-container::-webkit-scrollbar {
     width: 9px; 
}
.date-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F9F9F9;
}
.date-container::-webkit-scrollbar-thumb {
    background: #A6A6A6; 
    border-radius: 10px;   
}
.next-button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.next-button-delivery{
    max-width:385px;
    width: 100%;
    min-height: 45px;
    height: 100%;
    background: transparent linear-gradient(119deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat;
    border-radius: 4px;
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
}
.first-delivery-description{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    height: 100%;
}
.first-delivery-text{
    font-size: 12px;
    font-weight: 700;
}
.dates-accordian-seperator{
    max-width: 80%;
    width: 100%;
    margin: auto;
}

/* ------------------Accordian  common questions--------------------*/

.accordion-button::after ,.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='%23D75D33' stroke-width='2' width='20' height='12'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E%0A");
}


.common-question-head{
    font-size: 48px;
    color: var(--plan-description-head-color);
}
.accordion-button {
    color: var(--black);
    background-color: transparent;
    border: none;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
}
.accordion-button:not(.collapsed) {
    color: var(--red-orange-price);
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid  var(--accordian-bottom-border);
}
.accordion-button::after {
    fill: var(--red-orange-price);
}
.accordion-button:focus {
    box-shadow: none;
}
.accordian-panel-item{
    border: none;
    border-bottom: 1px solid var(--accordian-bottom-border);
    background-color: var(--background);
}
.accordian-main-panel {
    width: 80%; 
    margin: 0 auto;
}
.accordian-description{
    width: 98%;
    font-size: 14px;
    margin: auto; 
}
.accordian-end-space{
    min-height: 300px;
    height: 100%;
}
.accordion-button.collapsed{
    min-height: 60px;
    height: 100%;
}

/* ----------------------------------------------------Meals section----------------------------------------------------- */
.meal-card {
    border: 1px solid #DFDFDF;
}
.meal-card img {
    max-width: 100%;
    max-height: 165px;
    height: 100%;
}
.meal-details {
    display: flex;
    align-items: center;
    gap: 5px; 
    justify-content: center;
    align-items: center;
}
.meal-name{
    font-family: 'Roboto-Bold';
    font-size: 14px;
}
.meal-gluten, .meal-calories, .meal-carbs, .meal-protein, .meal-speciality{
    font-family: 'Roboto-Regular';
    font-size: 10px;
    color: #707070;
}
.special-meal-div {
    background-color: #000; 
}
.special-meal-div .meal-name,
.special-meal-div .meal-speciality{
    color: #FFFFFF; 
}
.special-meal-div .meal-gluten,
.special-meal-div .meal-calories,
.special-meal-div .meal-carbs,
.special-meal-div .meal-protein,
.special-meal-div .meal-speciality {
    color: #FFFFFF;
}
.add-btn{
    font-size: 14px;
    max-width: 65px;
    width: 100%;
    min-height: 33px;
    height: 100%;
    color: var(--white);
    background: transparent linear-gradient(135deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    border: none;
}

/* -----------------------Cart----------------------- */

.add-to-cart-container {
    border: 1px solid #00000029;
    padding: 0;
    background-color: #FFFFFF;
    position: fixed; 
    right: 0;
    max-height: 735px;
    height: 100%;
    width: 100%; 
    max-width: 320px; 
    display: flex;
    flex-direction: column;
}
.cart-items-container {
    overflow-y: auto;
    flex-grow: 1; 
    position: relative; 
}
.subtotal-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9; 
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 10; 
    border-radius: 15px 15px 0 0; 
    max-height: 135px;
    height: 100%;
    padding: 10px;
}
.subtotal-text{
    font-size: 13px;
    font-family: 'Roboto-Regular';
}
.next-btn-cart{
    background: transparent linear-gradient(105deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
    max-width: 95%;
    width: 100%;
     min-height: 40px;
     height: 100%;
     color :var(--white);
     border: none;   
}
.next-btn-cart.disabled{
    opacity: 0.5;
}
#meals-count-cart{
    font-family: 'Roboto-Bold';
}
.enter-msg-cart{
    color: var(--red-orange-price);
    font-size: 12px;
}
#subtotal-cart-price{
    color: var(--red-orange-price);
    font-family: 'Roboto-Medium';
}
.my-delivery-cart, .clear-all{
    font-size: 12px;
}
.my-delivery-cart{
    margin-bottom: 0;
}
.delivery-date-cart-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#delivery-date-cart{
    font-family: 'Roboto-Medium';
}
.cart-order-summary-head{
    font-family: 'Roboto-Medium';
}
.order-summary-cart{
    font-size: 13px;
}
.cart-shipping{
    font-size: 12px;
}
.cart-meal-card{
    max-height: 60px;
    height: 100%;
}
.cart-meal-img {
    max-width: 40%;
    max-height: 60px;
    height: 100%;
}
.cart-meal-card{
    background-color: #F3F3F3;
}
.cart-meal-name{
    font-size: 13px;
    font-family: 'Roboto-Medium';
}
.cart-icon-container{
    border: 1px solid #EDEDED;
    border-radius: 14px;
    min-width: 24%;
    min-height: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-item-count {
    color: black;
}
.meal-control-plus, .meal-control-minus{
    font-size: 18px;
    padding: 0;
    color: #717171;
    font-weight: 700;
}

/* ----------------------------------------------------Checkout section----------------------------------------------------- */

/* ----------------------------- Checkout form ----------------------------- */
.checkout-form-head{
    font-size: 23px;
}
.form-column{
    display: flex;
    justify-content: center;
}
.checkout-form-summary-head{
    left: 0;
    justify-content:space-evenly;
}
.checkout-form-head{
    transform: translateX(-200px);
}
.order-summary-head{
    transform: translateX(-15px);
}
.form-container{
    max-width: 591px;
    width: 100%;
    min-height: 930px;
    height: 100%;
    background-color:var(--nav-background);
    border: 1px solid var(--order-summary-bodrer);
}
.delivery-address-head{
    font-size: 18px;
}
.name-label-group{
    display: flex;
    flex-direction: row;
    gap:10px
}
.name-field-group{
    display: flex;
    flex-direction: row;
    gap:60px
}
.fname-input, .lname-input{
    min-width: 176px;
    width: 100%;
}
.delivery-address-head{
    font-size: 18px;
}
.custom-input{
    border: 1px solid var(--deliver-border);
    border-radius: 4px;
    min-height: 35px;
    height: 100%;
}
.name-group, .full-name-delivery-address-group, .address-line-one-group, .address-line-two-group, .city-group, .phone-group
,.email-group
{
    min-height: 75px;
    height: 100%;
}
.custom-label{
    min-height: 28px;
    height: 100%;
}
.checkout-buttton{
    background: transparent linear-gradient(100deg, #AF2081 0%, #533174 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    border-radius: 4px;
    color: var(--white);
    min-height:45px ;
    height: 100%;
}

.error-message {
    color: red;
    font-size: 0.875em; /* Smaller font size for error messages */
    margin-top: 4px; /* Add margin to separate from the input field */
    display: block; /* Ensure error message appears on a new line */
    position: absolute; /* Position error messages absolutely */
}




/*------------------------------ Order summary ----------------------------- */
.card-order-summary{
    background-color: var(--nav-background);
    max-width: 400px;
    width: 100%;
    border: 1px solid var(--order-summary-bodrer);
}
.promo-code-link{
    color:#3167FF;
    font-size: 15px;
}
.delivery-div{
    border: 1px solid var(--deliver-border); 
    border-radius:5px ;
    max-width: 380px;
    width: 100%;
    min-height: 20px;
    height: 100%;
}
.order-summary-head, .meals-summary-head{
    font-size: 23px;
}


@media (max-width:1024px){
    .plan-meals-card{
        max-width: 209px;
        width: 100%;
    }
    .get-started-btn {
        max-width: 300px;
        width:100%;
    }
    .delivery-day-head , .common-question-head {
        font-size: 45px;
    }
    .meal-details{
        gap:1px;
    }
    .meal-gluten, .meal-calories, .meal-carbs, .meal-protein, .meal-speciality{
        font-size: 7px;
    }
    .add-btn {
        font-size: 9px;
        min-width: 38px;
        max-width: 44px;
        width: 100%;
        min-height: 26px;
        height: 100%;
    }
    .add-to-cart-container {
        width: 100%;
        max-width: 262px;
        min-height: 500px;
        max-height: 537px;
        height: 100%;
    }
    .meal-name {
        font-size: 11px;
    }

    /* Checkout section */
    .form-container {
        max-width: 447px;
        width: 100%;
    }
    .card-order-summary {
        max-width: 300px;
        width: 100%;
    }
    .delivery-div {
        max-width: 274px;
        width: 100%;
    }
    .error-message {
        font-size: 10px;
    }
} 

@media (max-width:980px){
    .plan-cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .description-text {
        max-width: 600px;
        width: 100%;
    }
    .plan-meals-card{
        max-width: 300px;
        width: 100%;   
        min-height:300px ;
        height: 100%;
    }
    .plan-meal-image {
        max-height: 209px;
        max-width: 300px;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    .get-started{
        min-height: 135px;
        height: 100%;
    }
    .get-started-btn{
        max-width: 76%;
        width: 100%;
        min-height: 52px;
        height: 100%;
    }
    .get-started-btn:hover {
        max-width: 76%;
        width: 100%;
    }
    .add-btn {
        font-size: 9px;
        min-width: 38px;
        max-width: 44px;
        width: 100%;
        min-height: 26px;
        height: 100%;
    }
    .add-to-cart-container {
        width: 100%;
        max-width: 34%;
        min-height: 500px;
        max-height: 600px;
        height: 100%;
    }
    .meal-name {
        font-size: 13px;
    }
    .meal-details {
        gap: 16px;
    }
    .meal-gluten, .meal-calories, .meal-carbs, .meal-protein, .meal-speciality{
        font-size: 10px;
    }
}

@media (max-width:767px){
    .logo{
        min-height: 112px;
        height: 100%;
    }
    .plan-cards{
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        max-height:530px ;
        height: 100%;
    }
    .plan-meals-card{
        max-width: 48%;
        width: 100%;
        padding-right: 0;
        min-height:248px ;
        height: 100%;
    }
    .plan-meal-image {
        max-height: 140px;
        max-width: 278px;
        width: 100%;
        height: 100%;
        object-fit:fill;
    }
    .plan-card-img-block {
        width: 100%;
        max-height:150px ;
        height: 100%;
    }
    .description-text{
        font-size: 18px;
        max-width: 95%;
        min-width: 350px;
        width: 100%;
        padding: 10px;
    }
    .description-head{
        max-height: 85px;
        height: 100%;
        max-width: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }
    .get-started{
        min-height: 135px;
        height: 100%;
    }
    .get-started-btn{
        max-width: 94%;
        width: 100%;
        min-height: 52px;
        height: 100%;
    }
    .get-started-btn:hover {
        max-width: 94%;
        width: 100%;
    }
    .meal-count{
        font-size: 20px;
    }
    .sale-tag{
        font-size: 11px;
    }
    .dates-accordian-seperator {
        max-width: 100%;
        width: 100%;
        margin: auto;
    }
    .accordian-main-panel
    {
        width: 97%;
        margin: 0 auto;
    }
    .accordian-description {
        width: 100%;
        font-size: 18px;
        margin: auto;
    }
    .accordion-button.collapsed{
        min-height: 70px;
        height: 100%;
    }
    .next-button-delivery{
        max-width:90%;
        width: 100%;
    }
    .common-question-head{
        font-size: 30px;
    }
    .delivery-day-head{
        font-size: 31px;
    }

    /* --------------------Meals page----------------- */
    .add-to-cart-container {
        min-height: 150px;
        max-height: 13%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        bottom: 0;
        border-radius: 15px 15px 0 0; 
    }
    .subtotal-container {
        top: 0;
        max-height: 150px;
        height: 100%;
    }
    .next-btn-cart{
        min-height: 55px;
        height: 100%;
    }
    .meal-card{
        min-height: 315px;
        height: 100%;
    }
    .meal-card img {
        max-width: 100%;
        width: 100%;
        max-height: 187px;
        height: 100%;
        object-fit: cover;
    }
    .meal-carbs{
        font-size: 12px;
    }
    .meal-details{
        gap:35px;
    }
    .meal-speciality{
        margin-bottom: 0;
    }
    .meal-name {
        font-size: 20px;
    }
    .meal-gluten, .meal-calories, .meal-carbs, .meal-protein, .meal-speciality{
        font-size: 14px;
    }

    .form-column {
        order: 2;
    }
    .order-checkout-container{
        order: 1;
padding-right: 0;
    }

    .card-order-summary {
        max-width: 400px;
        width: 100%;
        margin: auto;

    }
    .form-container {
        max-width: 400px;
        width: 100%;
    }
    .error-message {
        font-size: 9px;
    }
    .checkout-form-summary-head{
       
        justify-content:left;
    }
    .checkout-form-head{
        transform: translateX(0);
    }
    .order-summary-head{
        transform: translateX(-0);
    }
}

@media (max-width:330px){
    .description-head {
        font-size: 31px;
    }
    .description-text {
        max-width: 300px;
        min-width: unset;
        width: 100%;
        font-size: 15px;
    }
    .plan-week{
        font-size: 13px;
    }
    .meal-count{
        font-size: 18px;
    }
    .plan-total-price-text, .plan-price{
        font-size: 14px;
    }
    .plan-meals-card {
        min-height: 220px;
        height: 100%;
    }
    .get-started-btn{
        max-width: 92%;
        width: 100%;
    }
    .get-started {
        min-height: 120px;
        height: 100%;
    }
    .shipping-text{
        font-size: 12px;
    }
    .delivery-day-head {
        font-size: 25px;
    }
    .common-question-head{
        font-size: 26px;
    } 
    .accordion-button{
        font-size: 12px;
    }
    .date-text-item{
        font-size: 12px;
    }
    .next-button-delivery {
        min-height: 40px;
        height: 100%;
        font-size: 14px;
    }
     /*-------------------- Meals page------------------ */
    .meal-details{
        gap:10px;
    }
}


@media (min-width:1300px) and (max-width:1600px){
    .add-to-cart-container {
        max-height: 91%;
        height: 100%;
        width: 100%;
        max-width: 360px;
}
}